<div class="background"
  [ngStyle]="{'background-image': 'url(' + (days?.[currentDayIndex.value]?.weatherCode?.[currentHourIndex.value * 3] | backgroundSrc) + ')'}">
  <section class="header">
    <div class="header-background">
      <div class="header-info">
        <div class="logo">
          <span class="name" *transloco="let t">{{ t('title') }}</span>
          <img class="logo__img" src="/assets/img/logo.png" alt="logo">
        </div>
        <div class="location" *transloco="let t">
          <span class="city ">{{city}}</span>
          <span class="country ">{{country}}</span>
          <mat-form-field class="search" subscriptSizing="dynamic">
            <input [(ngModel)]="inputCity" (keyup.enter)="getCityInfo(inputCity)" matInput
              [placeholder]="t('searchPlaceholder')">
          </mat-form-field>
          <button class="search" mat-stroked-button (click)="getCityInfo(inputCity)">{{ t('search') }}</button>
        </div>
        <button class="language" mat-button [matMenuTriggerFor]="language" *transloco="let t">{{t('language')}}</button>
        <mat-menu #language="matMenu">
          <button mat-menu-item *transloco="let t" (click)="ru()">{{t('Russian')}}</button>
          <button mat-menu-item *transloco="let t" (click)="en()">{{t('English')}}</button>
        </mat-menu>
        <div class="date">
          <span class="time ">{{time | date: 'medium' : offset : locale}}</span>
        </div>
      </div>
      <div class="current-info" *transloco="let t">
        <span class="current-info__temperature">{{t('temperature') + ' : ' +
          days?.[currentDayIndex.value]?.temperature?.[currentHourIndex.value * 3] + ' °C'}}</span>
        <span class="current-info__temperature-feel">{{t('feel') + ' : ' +
          days?.[currentDayIndex.value]?.temperatureFeel?.[currentHourIndex.value * 3] + ' °C'}}</span>
        <span class="current-info__humidity">{{t('humidity') +' : ' +
          days?.[currentDayIndex.value]?.humidity?.[currentHourIndex.value * 3] + ' %'}}</span>
        <span class="current-info__pressure">{{t('pressure') +' : ' +
          days?.[currentDayIndex.value]?.pressure?.[currentHourIndex.value * 3]+" " + t('pressureUnits')}}</span>
        <span class="current-info__visibility">{{t('wind') +' : ' +
          days?.[currentDayIndex.value]?.wind?.[currentHourIndex.value * 3]+" " + t('windUnits')}}</span>
      </div>
    </div>
  </section>
  <section class="info">
    <mat-button-toggle-group class="hourly__cards" [hideSingleSelectionIndicator]=true [formControl]="currentHourIndex">
      @for (temp of days?.[currentDayIndex.value]?.temperature3hour; track $index){
      <mat-button-toggle class="hourly__card-wrap" [value]=$index>
        <div class="hourly__card">
          <span class="hourly__card__time">{{$index * 3 + ':00'}}</span>
          <span class="hourly__card__temperature">{{temp + ' °C'}}</span>
          <img class="hourly__card__icon" [src]='days?.[currentDayIndex.value]?.weatherCode?.[$index * 3] | iconScr'
            alt="">
        </div>
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
    <mat-button-toggle-group class="daily__cards" [hideSingleSelectionIndicator]=true [formControl]="currentDayIndex">
      @for (day of days; track $index){
      <mat-button-toggle class="daily__card-wrap " [value]=$index>
        <div class="daily__card">
          <span class="daily__card__time">{{day.date[0] | date: "ccc, d MMM" : "" : locale}}</span>
          <span class="daily__card__temperature">{{day.avgTemperature + ' °C'}}</span>
          <span class="daily__card__icon"></span>
        </div>
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </section>
  <button style="height: 50px; width: 150px; margin-top: 100px; margin-left: 100px;" (click)="log()">Dedug</button>
</div>