@mixin respond-to($media) {
    @if $media =='mobile ' {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $media =='tablet' {
        @media (max-width: 900px) {
            @content;
        }
    }

    @else if $media =='laptop' {
        @media (max-width: 1250px) {
            @content;
        }
    }
}

.header {
    padding-top: 20px;
    height: 300px;

    @include respond-to('tablet') {
        padding-top: 0;
        height: 150px;
    }
}

.header-background {
    margin: 0 auto;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(165, 230, 255, 0.6);

    @include respond-to('laptop') {
        width: 100%;
        border-radius: 0;
    }
}

.header-info {
    height: 200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include respond-to('tablet') {
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

.logo__img {
    height: 50px;
    width: 50px;
}

.location {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search {
    @include respond-to('tablet') {
        display: none;
    }
}

.language {
    @include respond-to('tablet') {
        display: none;
    }
}

.info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-info {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to('tablet') {
        gap: 10px;
        height: 7vw;
        align-items: center;
    }
}

.hourly__cards {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.hourly__card-wrap {
    background-color: rgb(117, 185, 214, 0.7);
}

.hourly__card {
    height: 110%;
    width: 7vw;
    max-width: 90px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
}

.daily__cards {
    display: flex;
    flex-direction: row;
}

.daily__card-wrap {
    background-color: rgb(117, 185, 214, 0.7);
}

.daily__card {
    height: 100px;
    width: 6vw;
    display: flex;
    flex-direction: column;
    white-space: wrap;

    @include respond-to('laptop') {
        width: 9vw;
    }

    @include respond-to('tablet') {
        height: 200px;
    }

}


.background {
    height: 100%;
    background-size: cover;
    background-position: center;
}